@model IEnumerable<CategoryDto>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a class="button bg-custom2 fg-white" asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CategoryName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="row-hover">
		@foreach (var item in Model)
		{
			<tr class="row-hover">
				<td>
					@Html.DisplayFor(modelItem => item.CategoryName)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id"><img class="IndexIcon" src="\Resources\Icons\icon_edit.png"></img></a>
					<a asp-action="Details" asp-route-id="@item.Id"><img class="IndexIcon" src="\Resources\Icons\icon_details.png"></img></a>
					<a asp-action="Delete" asp-route-id="@item.Id"><img class="IndexIcon" src="\Resources\Icons\icon_delete.png"></img></a>
				</td>
			</tr>
		}
	</tbod>
</table>
