@model OrderDetailsDto

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4 class="createTitle">Order Details</h4>
<div class="container">
	<div class="h4">
		Order
	</div>
	<div>
		<strong>Date: </strong> @Html.DisplayFor(model => model.OrderDate)
	</div>
	<div>
		<strong>Status: </strong> @Html.DisplayFor(model => model.OrderStatus)
	</div>
	<div>
		<strong>Total: </strong> @Html.DisplayFor(model => model.TotalAmount) PLN
	</div>
	<div class="h4">
		Customer
	</div>
	<div>
		<strong>Name: </strong> @Html.DisplayFor(model => model.CustomerFirstName)
	</div>
	<div>
		<strong>Surname: </strong> @Html.DisplayFor(model => model.CustomerLastName)
	</div>
	<div class="h4">
		Product
	</div>
	<div>
		<strong>Name: </strong> @Html.DisplayFor(model => model.ProductName)
	</div>
	<div>
		<strong>Category: </strong> @Html.DisplayFor(model => model.CategoryName)
	</div>
	<div>
		<strong>Price: </strong> @Html.DisplayFor(model => model.ProductPrice)
	</div>
	<div>
		<strong>Quantity: </strong> @Html.DisplayFor(model => model.Quantity)
	</div>
</div>
<div class="mt-3">
	<a class="button bg-custom fg-white" asp-action="Index"><img class="IndexIcon" src="\Resources\Icons\icon_back.png"></img></a>
	<a class="button bg-customEdit fg-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
